user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 768;
        # multi_accept on;
}

http {

        ##
        # Basic Settings
        ##

        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 65;
        types_hash_max_size 2048;
        # server_tokens off;

        # server_names_hash_bucket_size 64;
        # server_name_in_redirect off;

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ##
        # SSL Settings
        ##

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;

        ##
        # Logging Settings
        ##

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        ##
        # Gzip Settings
        ##

        gzip on;
        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;


    server {
        listen v2.dragon-cafe.com:80;
        server_name v2.dragon-cafe.com;
        {% for service in serv.services %}{% if service.hosts %}
        location /{{ service.name }} {
            proxy_pass http://127.0.0.1:{{ service.server_port[0][0] }};
        }
        location ~/{{ service.name }}/(.*)$ {
            proxy_pass http://127.0.0.1:{{ service.server_port[0][0] }}/$1;
        }
        {% endif %}{% endfor %}
    }
}

stream {
    {% for service in serv.services %}{% if service.hosts %}
    upstream {{ service.name }} {
        least_conn;
        {% for host in service.hosts %}
        server {{ host[0] }}:{{ host[1] }};{% endfor %}
    }

    server {
        listen 127.0.0.1:{{ service.server_port[0][0] }};
        proxy_pass {{ service.name }};
        proxy_timeout 10m;
        proxy_connect_timeout 1s;
        }
    {% endif %}{% endfor %}
}